.expand-label{
    color: var(--MAIN-LINK-HOVER-color)
}

/* ==========================================================================
14. Newsletter
========================================================================== */

.newsletter {
    margin: 1rem auto;
    max-width: 780px;
    border: #EBF2F6 1px solid;
    padding: 0.2em;
    text-align: center;
}

.newsletter form {
    padding-bottom: 1.5em;
}

.newsletter input[type="submit"] {
    margin: auto;
    padding: 0.5em;
    border: #EBF2F6 1px solid;
}

.newsletter input[type="text"] {
    margin: auto;
    width: 16em;
    padding: 0.8em;
}
